* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(./img/background.png) repeat-x white;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font: 900 90px/200px "Myriad Pro", sans-serif;
    color: black;
}

h2 {
    font: 900 50px/100px "Trebuchet MS", sans-serif;
    color: white;
}

#countdown {
    display: inline-block;
}

.number_container {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 100px;
    width: 70px;
}

.colon {
    font: 900 70px/70px "Times New Roman", sans-serif;
    color: rgb(20, 20, 20);
    display: inline-block;
    margin: 0 5px 0 5px;
    vertical-align: middle;
}

.space {
    display: inline-block;
    width: 2em;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
}

.down {
    top: 50px;
}
